src/main/mule/mcp-test-4.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mcp="http://www.mulesoft.org/schema/mule/mcp" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd  http://www.mulesoft.org/schema/mule/mcp http://www.mulesoft.org/schema/mule/mcp/current/mule-mcp.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="Listener-config">
        <http:listener-connection host="0.0.0.0" port="8081"></http:listener-connection>
    </http:listener-config>
    <mcp:server-config name="Server" serverName="mule-mcp-server" serverVersion="1.0.0">
        <mcp:streamable-http-server-connection listenerConfig="Listener-config"></mcp:streamable-http-server-connection>
    </mcp:server-config>
    <flow name="TestMCP4">
        <mcp:tool-listener name="Test4" config-ref="Server">
            <mcp:description><![CDATA[Simple test tool for MCP connection with Cursor AI]]></mcp:description>
            <mcp:parameters-schema><![CDATA[{
			"$schema": "http://json-schema.org/draft-07/schema#",
			"type": "object",
			"properties": {
				"message": {
					"type": "string",
					"description": "Optional test message",
					"default": "Hello from Mule MCP Server"
				}
			},
			"required": []
		}]]></mcp:parameters-schema>
        <mcp:responses>
            <mcp:text-tool-response-content text="#['MCP Server Response: ' ++ (payload.message default 'Hello from Mule MCP Server') ++ ' - Connection successful at ' ++ now() as String]"/>
        </mcp:responses>            
        <mcp:on-error-responses>
            <mcp:text-tool-response-content text="#['Error in MCP Server: ' ++ error.description]"/>
        </mcp:on-error-responses>    
        </mcp:tool-listener>
        <set-payload value='#[{
			"status": "success",
			"message": payload.message default "Hello from Mule MCP Server",
			"timestamp": now(),
			"server": "mule-mcp-server"
		}]' mimeType="application/json" />
    </flow>
</mule>
